<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recruiters - Novo Candidato</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Novo Candidato</h1>
        <form method="post" action="/candidate/new">
            <div class="form-group">
                <label for="name">Nome</label>
                <input id="name" name="name" class="form-control" type="text" maxlength="255"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" class="form-control" type="text" maxlength="255"/>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Telefone</label>
                <input id="phoneNumber" name="phoneNumber" class="form-control" type="text" maxlength="20"/>
            </div>
            <input type="submit" value="Salvar" class="btn btn-success"/>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>